@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container my-5">
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="lead text-center">Benvenuto nella nostra pagina sulla privacy.</p>
            <img src="https://www.alpenhoteleghel.it/var/site/storage/images/1/8/4/1/1481-1-ita-IT/fc0305c65b5d-privacy.jpg" alt="Immagine Privacy" class="img-fluid rounded my-4">
            
            <p>Utilizziamo questa pagina per fornirti informazioni  sulla nostra politica sulla privacy.</p>

            <p>Spiegheremo come raccogliamo, utilizziamo,  e proteggiamo le tue informazioni personali.</p>

            <p>Se hai domande  ti invitiamo a contattarci.</p>

        </div>
    </div>
</div>


