@model Prodotto

@{
    ViewData["Title"] = "Purchase";
}

<div class="container">
    <div class="text-center mt-5">
        <h1 class="display-4">@ViewData["Title"]</h1>

        <form class="mt-4" method="post" asp-action="Cart">
            <div class="form-group row justify-content-center">
                <label asp-for="Nome" class="col-sm-2 col-form-label text-right">Nome Prodotto:</label>
                <div class="col-sm-4">
                    <input asp-for="Nome" placeholder="Es. ProdottoX" class="form-control" required>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label asp-for="Quantita" class="col-sm-2 col-form-label text-right">Quantità:</label>
                <div class="col-sm-4">
                    <input asp-for="Quantita" type="number" class="form-control" value="1" required>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Acquista</button>
                </div>
            </div>
        </form>
    </div>
</div>

